main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 40px;
}

h6 {
    font-family: Ysabeau SC;
    font-size: 50px;
    border-bottom: 3px solid black;
}

.quizContainer {
    padding: 8px;
    background-color: #395f60;
    border: 2px solid #668080;
    border-radius: 5px;
    text-align: center;
    justify-content: center;
    margin: 20px;

}

#score {
    font-size: 30px;
    margin-top: 0px;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
}

#question {
    margin-bottom: 0px;
    font-size: 40px;
    padding: 30px;
}

.form-text {
    padding: 5px;
}
