@media only screen and (max-width: 1100px) {}
@import url('https://fonts.googleapis.com/css2?family=Crete+Round&family=Rowdies:wght@300&display=swap');

* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body {
    background-image: url("https://fs.hubspotusercontent00.net/hubfs/6576206/GIS-Blog-Header.jpg");
    background-size: auto;
    color: whitesmoke;
    font-size: x-large;
}

.titleStrip {
    margin: vw 100;
    padding: 0px;
    font-size: 45px;
    font-family: Ysabeau SC;
    text-align: center;
    background-image: url("https://colorswall.com/images/palettes/shades-of-cadet-blue-5f9ea0-hex-color-24223-colorswall.png");
    background-position: 9%;
    border-bottom: 3px solid #395f60;
}

#training-refresh {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

button {
        background-color: whitesmoke;
        width: 27vh;
        padding: 20px;
}